body {
    background-image: url("bg2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 10px;
  gap: 40px;
}
.grid-item {
  background-color: rgba(47, 62, 116, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
  border-radius: 100px;
  color: white;
  opacity: 0.8;
}

h1 {
    text-align: center;
    font-family: "Papyrus", fantasy;
    font-size: 60px;
    margin-bottom: -10px;
    background-color: white;
    margin-left: 550px;
    margin-right: 550px;
    border-radius: 20px;
}

h3 {
    font-family: Copperplate, "Copperplate Gothic Light", fantasy;
    font-size: 50px;
    color: lightblue;
}

h5 {
    font-family: "Papyrus", fantasy;
    margin-top: -35px;
}

#enter {
    padding-top: 40px;
    font-size: 40px;
    margin-bottom: 20px;
    margin-top: 0px;
}

h6 {
    margin-top: 0px;
    margin-bottom: 5px;
    font-family: "Papyrus", fantasy;
    font-size: 23px;
}

input {
    height: 35px;
    width: 50%;
    place-self: center;
    font-size: 20px;
    border-radius: 15px;
}

#submit {
    background-color: lightgray;
    height: 50px;
    width: 100px;
    font-size: 20px;
    color: black;
    border-radius: 15px;
    margin-top: -100px;
    margin-bottom: -10px;
    font-family: Copperplate, "Copperplate Gothic Light", fantasy;
}

#submit:hover {
    box-shadow: 0 12px 16px 0 rgb(253, 255, 255),0 17px 50px 0 rgb(255, 255, 255);
}

#hobby {
    margin-bottom: 0px;
}

#tv, #pingpong {
    margin-left: 20px;
}

#form, #drawing {
    margin-right: 20px;
}

#tv, #drawing {
    margin-top: 20px;
    padding-top: 0px;
    padding-bottom: -100px;
}

.grid-item img {
  max-width: 75%;
  max-height: 50%;
  object-fit: contain;
  display: block;
  place-self: center;
}

#pp {
    max-width: 50%;
    max-height: 50%;
    object-fit: contain;
    display: block;
    place-self: center;
    margin-top: -15px;
    border-radius: 15px;
}

#yours {
    background-color: lightblue;
    color: rgb(48, 48, 57);
    height: 20%;
    margin: 30px;
    margin: 30px; 
    border-radius: 20px;
    font-family: Copperplate, "Copperplate Gothic Light", fantasy;
    padding-top: 15px;
}

h4 {
    padding-top: 10px;
    font-family: Copperplate, "Copperplate Gothic Light", fantasy;
}

#home-btn {
    position: absolute;
    top: 30px;
    right: 20px;
    height: 7%;
    width: 9%;
    border-radius: 10px;
    background-color: rgb(6, 6, 60);
    color: white;
    font-size: 25px;
    border: white dotted;
    font-family: Copperplate, "Copperplate Gothic Light", fantasy;
}

#home-btn:hover {
    box-shadow: 0 12px 16px 0 rgb(168, 255, 252),0 17px 50px 0 rgb(255, 255, 255);
}

#form {
    text-align: left;
}

label {
    margin-left: -140px;
    font-family: 'Papyrus';
}

#tc, #climb {
    border-radius: 15px;
}

#hobby::placeholder {
    font-family: Copperplate, "Copperplate Gothic Light", fantasy;
    color: 
}